.footer
    position: relative
    width: 100%
    height: 80px
    font-size: 16px
    font-weight: lighter
    text-align: center
    color: #fff
    margin-top: 30px
    .footer-separator
        margin: 0 10px
        opacity: .75
    .pro-codename-version
        font-size: 12px
        opacity: .5
        color: #eee
    .dot-separator
        padding: 0 10px
        color: #999
    .footer-separator
        margin: 5px auto
        position: relative
        height: 1px
        background-color: #ddd
        width: 25%
        text-align: center
    .sns-account
        padding: 0 20px
        color: #999
        cursor: pointer
        &.hover
            color: #666
.product-container
    .footer
        color: #666
        .pro-codename-version
            color: #999


