.showcases-container
    position: relative
    width: 70%
    margin: 20px auto 0 auto
    padding: 0
    .showcase-item
        display: inline-block
        width: 45%
        margin: 15px 0
        box-sizing: border-box
        &:nth-child(odd)
            margin-right: 5%
        &:nth-child(even)
            margin-left: 5%

.filtered-transition
    transition: all .3s ease
    overflow: hidden
    margin: 0
    opacity: 1
.filtered-enter, .filtered-leave
    opacity: 0
