.showcase-item-content
    position: relative
    width: 100%
    margin: 0
    padding: 0
    color: #fff
    .showcase-tags
        position: relative
        padding: 10px 5px
        font-size: 14px
        .showcase-tag
            font-family: pingfang
            padding: 5px
            margin-right: 5px
            background-color: #fff
    .showcase-item-square
        position: relative
        width: 100%
        overflow: hidden
        .showcase-meta
            position: absolute
            left: 0
            width: 100%
            height: 100%
            z-index: 2
            padding: 0 20px 20px
            box-sizing: border-box
            overflow: hidden
            .showcase-meta-tools
                text-align: center
                .install-btn
                    width: 80%
                    height: 40px
                    margin-top: 15px
                    text-align: center
                    font-size: 16px
                    color: rgba(255, 255, 255, 1)
                    user-select: none
                    background-color: #57B95B
                    cursor: pointer
            .showcase-meta-name
                position: relative
                font-size: 18px
                height: 60px
                line-height: 60px
                // margin-bottom: 20px
                font-weight: 400
                .icon-op
                    position: absolute
                    top: 0
                    right: 0
                    height: 100%
                    img
                        position: relative
                        max-width: 36px
                        max-height: 24px
                        vertical-align: middle
                        opacity: .5
                        cursor: pointer
                        &:hover
                            opacity: 1
            .showcase-meta-desc
                font-size: 15px
                font-weight: lighter
        .cover-img
            position: relative
            width: 100%

.wipe-bottom-transition
    transition: all .35s ease
    overflow: hidden
    top: calc(100% - 60px)
    background-color: rgba(0, 0, 0, .7)
.wipe-bottom-enter
    top: 0
    background-color: rgba(0, 0, 0, .9)
.wipe-bottom-leave
    top: calc(100% - 60px)
    background-color: rgba(0, 0, 0, .7)
