$swiperHeight = 100%
$swiperWidth = 100%
/*
@media screen and (max-height: 950px)
    $swiperHeight: 100%
    $swiperWidth: 100%
@media screen and (min-height: 956px)
    $swiperHeight: 100%
    $swiperWidth: 80%
    .swiper-container
        text-align: center
        margin: 0 auto

.swiper-container
    width: $swiperWidth
    height: $swiperHeight
*/
.main
    width: 100%
    height: 100%
