$primary-color = #7ED321;
$primary-color-dark = #417505;

$gray-color = #A2A2A2;

$brand-primary = #7ED321;
$brand-success = #5cb85c;
$brand-info =    #5bc0de;
$brand-warning = #f0ad4e;
$brand-danger =  #d9534f;
