// @import "compass/css3/transform";
// @import "compass/css3/transition";

// .flipped {
//   @include transform(rotateY(-180deg));
//   @include transition-duration(0.5s);
// }
// .flip {
//   @include transform(rotateY(0deg));
//   @include transition-duration(0.5s);
// }
